.sidebar{
    min-height: calc(100vh - 70px);
    font-family: "Roboto", sans-serif;
    float: left;
    font-weight: 500;
    padding: 0;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
}

.list-group-item-custom {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    margin-bottom: 5px;
    background: #ffffff;
}

.active-link {
    z-index: 2;
    color: rgb(66, 66, 66);
    background-color: #ffffff !important;
    border-right: 3px solid #ff9100;
}