.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e3f2fd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: #ebeaf1 !important;
}

.content{
  background: #efe9e9;   
}

.subHeader {
  padding-bottom: 10px !important;
  border-bottom: 1px solid rgba(33,40,50,.125);
}

.subHeader span{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.mainContent *{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9rem;
}

.box-shadow-custom{
  box-shadow: 0 2px 2px -3px grey !important;
}

.list-custom{
  list-style-type: none !important;
}